RewriteEngine On
RewriteBase 

# Pastikan bahwa permintaan untuk file dan folder tetap bisa diakses
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Arahkan semua request ke index.php
RewriteRule ^(.*)$ index.php [QSA,L]